.cnt{
    text-align: center;
}
.btn{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 1px solid #000;
    margin:10px;
    color : #fff;
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}
.btn:hover{
   border: 1px solid #fff;
   cursor: pointer;
}
.count{
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    width: 100px;
    background-color: gray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}